.siteTitle {
  color: orange;
  font-size: 25px;
}

.imgContainer {
  width: 500px;
  height: 300px;
  padding-left: 16px;
}

.aboutStyle {
  padding-left: 35px;
}

.home-container {
  height: 88vh;
}

.productTitle {
  font-weight: bold;
  font-size: 30px;
  color: orange;
}

.productContent {
  text-align: center;
}


.sectionContent {
  font-size: 16px;
  position: absolute;
  top: 0px;
}

.titlePosition {
  justify-content: center; 
}

.imgContainerCarPage {
  width: 100%;
  height: 400px;
  position: relative;
  
}

.cardOnImage {
  width: 18rem;
  position: relative;
  bottom: 300px;
  left: 200px;
  background-color: #18458e;
  color: white
}

.secondSection {
position: relative;
bottom: 120px;
}